{#
/**
 * @file oauth2_token.html.twig
 * Default theme implementation to present Access Token data.
 *
 * This template is used when viewing Access Token pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_oauth2_token()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes.addClass('oauth2_token') }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div{{ content_attributes }}>
    {{ content }}
  </div>
</article>
